# python stuff
__pycache__/
*$py.class

# env stuff
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE stuff
.idea/
.vscode/

data/tasks_1-20_v1-2/*
data/*.zip
data/*.tar.gz
data/*.txt
plots/*.png

*/.DS_Store
*/*/.DS_Store
.DS_Store

# Baseline
settings/baseline/init_bl.txt
settings/baseline/prompts/results/*
settings/baseline/results/*

# Old baseline
baseline/

# Results
results/

# Outputs
outputs/

# Prompts
settings/baseline/config/prompt_*_shot*
