model:
  name: "meta-llama/Meta-Llama-3-8B-Instruct"
  max_new_tokens: 12
  # with temperature==0.0 the model will use log probability
  # to automatically increase the temperature until certain thresholds are hit.
  # I.e., in need of lowest temperature, set it to something like 0.00000001
  temperature: 0.1
  # if we want the model to continue on the last message rather
  # than create a separate answer
  to_continue: False

setting:
  name: "Baseline"

data:
  # small data with validation
  path: "${oc.env:HOME}/tasks_1-20_v1-2/en-valid/"
  # Order: train, valid, test
  splits:
    train: False
    valid: True
    test: False
  # to get all tasks use ~ (will be converted to None)
  # to get specific tasks use:
  # task_ids: [1, 2, ...]
  task_ids: ~
  # to get all samples use ~ (will be converted to None)
  # to set a specific number of samples use an int
  samples_per_task: 5
  # if to add line numbers to the sentences in the prompt
  # Order: context, question
  to_enumerate:
    context: True
    question: False

prompt:
  # name of the prompt files serves as a basis for logging and result files
  paths:
    - "${oc.env:HOME}/research-project/prompts/init_prompt_direct_answer.txt"
  wrapper:
    # if to wrap the part prompt with the task description
    context: |
      *TASK*
      Here are the context sentences:
      {context}
    question: |
      Now, answer the following question:
      {question}
    answer: ""
  examples:
    to_add: True
    enumerated: True
    handpicked: True
    not_mentioned: True
    number: 1
    wrapper: |
      *EXAMPLE{number}*
      {example}

logging:
  # if to print the results to a log file, otherwise will print to console
  print_to_file: True

results:
  headers:
    - id
    - task_id
    - sample_no
    - task
    - true_answer
    - model_answer
    - correct?
    - model_reasoning
    - model_output
    - exact_match_accuracy
    - soft_match_accuracy
    - there
    - verbs
    - pronouns
    - not_mentioned

hydra:
  run:
    # the run directory with logs, plots, and csv results will be created here
    # use more folders if needed for distinguishing between different experiments
    dir: "${oc.env:HOME}/research-project/outputs/${now:%d-%m-%Y}/${now:%H-%M-%S}"
