model:
  name: "meta-llama/Meta-Llama-3-8B-Instruct"
  max_new_tokens: 100
  # with temperature==0.0 the model will use log probability
  # to automatically increase the temperature until certain thresholds are hit.
  # I.e., in need of lowest temperature, set it to something like 0.00000001
  temperature: 0.1
  # if we want the model to continue on the last message rather
  # than create a separate answer
  to_continue: False
  mode: "eval"

setting:
  name: "Baseline"
  interpretability: True

data:
  # small data with validation
  path: "${oc.env:HOME}/tasks_1-20_v1-2/en-valid/"
  # Order: train, valid, test
  splits:
    train: False
    valid: True
    test: False
  # to get all tasks use ~ (will be converted to None)
  # to get specific tasks use:
  # task_ids: [1, 2, ...]
  task_ids: ~
  # to get all samples use ~ (will be converted to None)
  # to set a specific number of samples use an int
  samples_per_task: 5
  # if to add line numbers to the sentences in the prompt
  # Order: context, question
  to_enumerate:
    context: True
    question: False
  wrapper:
    # if to wrap the part prompt with the task description
    context: |
      *TASK*
      Here are the context sentences:
      {context}
    question: |
      Now, answer the following question:
      {question}
    reasoning: ""
    answer: ""

init_prompt:
  paths:
    - "${oc.env:HOME}/research-project/inference/prompts/init_prompt_reasoning.txt"
  examples:
    add: False
    enumerated: True
    handpicked: True
    not_mentioned: True
    number: 1
    wrapper: |
      *EXAMPLE{number}*
      {example}
      *END OF EXAMPLE{number}*

logging:
  # if to print the results to a log file, otherwise will print to console
  print_to_file: True


results:
  save_heatmaps: False
  headers:
    - id_
    - task_id
    - sample_id
    - part_id
    - task
    - golden_answer
    - silver_reasoning
    - model_answer_after
    - correct_after
    - model_reasoning_before
    - model_reasoning_after
    - silver_reasoning
    - model_output_after
    - exact_match_accuracy_after
    - soft_match_accuracy_after
    - not_mentioned_after
    - verbs_after
    - there_after
    - pronouns_after

hydra:
  run:
    # the run directory with logs, plots, and csv results will be created here
    # use more folders if needed for distinguishing between different experiments
    dir: "${oc.env:HOME}/research-project/outputs/${now:%d-%m-%Y}/${now:%H-%M-%S}"
